# llm
LLM_MODEL_ID="deepseek-v4-pro"
LLM_API_KEY=YOUR_API_KEY_HERE
LLM_BASE_URL="https://api.deepseek.com"

# vlm
VLM_MODEL_ID="qwen-vl-max-latest"
DASHSCOPE_API_KEY=YOUR_API_KEY_HERE
DASHSCOPE_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"

# hf
HF_TOKEN=YOUR_HF_TOKEN_HERE